<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165175339298-l4vf9beo2l7gv9aakb7pf5rtkqpjf4cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165175339298-l4vf9beo2l7gv9aakb7pf5rtkqpjf4cj</string>
	<key>API_KEY</key>
	<string>AIzaSyCVw3YcNwPXQyxw-2PRe0h_uycfoT75n3M</string>
	<key>GCM_SENDER_ID</key>
	<string>165175339298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.net.dc.hdspecialist</string>
	<key>PROJECT_ID</key>
	<string>hairdresser-3491b</string>
	<key>STORAGE_BUCKET</key>
	<string>hairdresser-3491b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165175339298:ios:d4269524019086320f5d7b</string>
	<key>DATABASE_URL</key>
	<string>https://hairdresser-3491b.firebaseio.com</string>
</dict>
</plist>